@import '../../style/variables.sass'

.link-list
    display: flex
    flex-direction: column
    background: url('../../assets/backgrounds/bg.jpg') rgb(255, 235, 224) no-repeat
    padding: 30px 52px 0 30px
    &__sort
        padding: 10px
        background: rgba(256, 256, 256, 0.9)
        margin-bottom: 30px
        &__form
            display: flex
            flex-direction: column
            label
                margin-right: 10px
    &__title
        font-weight: 500
        font-size: 30px
        line-height: 45px
    &__wrapper
        overflow-x: scroll
    &__table
        table-layout: fixed

@media (max-width: 1242px)
    .link-list
        &__table
            &__tr, &__td
                padding: 5px

@media (max-width: 768px)
    .link-list
        &__sort
            margin-bottom: 10px
        &__title
            line-height: 25px
            font-size: 25px
