@import '../../style/variables.sass'

.page
    display: flex
    &__img
        max-width: 55vw
        object-fit: cover
    &__wrapper__form
        width: 100%
        padding: 30px 60px
    &__wrapper__link-list
        min-width: 60vw
    &__title
        font-weight: 500
        font-size: 30px
        line-height: 45px
    &__descr
        a
            color: $orange
            text-decoration: none
            &:hover
                text-decoration: underline

@media (max-width: 768px)
    .page
        flex-direction: column
        width: 100%
        &__title
            line-height: 25px
            font-size: 25px
        &__wrapper__form
            order: 1
            width: auto
            padding: 15px 30px
        &__wrapper__list-lst
            order: 2
            width: 100%
        &__img
            display: none

@media (max-width: 425px)
    .page
        &__wrapper__form
            padding: 20px 30px
