@import '../../style/variables.sass'

.page
    display: flex
    &__img
        max-width: 55vw
        object-fit: cover
    &__wrapper
        width: 100%
        padding: 30px 60px
    &__title
        font-weight: 500
        font-size: 30px
        line-height: 45px
    &__descr
        a
            color: $orange
            text-decoration: none
            &:hover
                text-decoration: underline
    &__link-list
        display: flex
        flex-direction: column
        background: url('../../assets/backgrounds/bg.jpg') rgb(255, 235, 224) no-repeat
        padding: 30px 52px 0 30px
        &__wrapper
            min-width: 60vw
        &__sort
            padding: 10px
            background: rgba(256, 256, 256, 0.9)
            margin-bottom: 30px
            &__form
                display: flex
                flex-direction: column
                label
                    margin-right: 10px
        &__table
            table-layout: fixed
            a
                color: #000
            tr, td
                padding-bottom: 17px
            tr:nth-child(odd)
                background-color: rgba(256, 256, 256, 0.9)
                a
                    &:hover
                        color: #898989
            tr:nth-child(even)
                background-color: lighten($orange, 5)
                a
                    &:hover
                        color: darken($orange, 30)

@media (max-width: 768px)
    .page
        display: block
        &__img
            display: none

@media (max-width: 425px)
    .page
        &__wrapper
            padding: 20px 30px
