@import '../../../style/variables.sass'

.auth-page
    display: flex
    &__img
        max-width: 55vw
    &__wrapper
        padding: 30px 60px
    &__title
        font-weight: 500
        font-size: 30px
        line-height: 45px
    &__descr
        a
            color: $orange
            text-decoration: none
            &:hover
                text-decoration: underline
